<%= form_for @team, :remote => true do |f| %>
<% if @team.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@team.errors.count, "error") %> prohibited
      this record from being saved:
    </h2>
    <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<p>
    <%= f.label :team_name %><br>
    <%= f.text_field :team_name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
