<%= render "header" %>
<div class="row">
  <div class="col-sm-3">
    <%= render "sidepanel" %>
  </div>
  <div class="col-sm-9">
    <div class="page-header"><h2>Creating new Team</h2></div>
    <%= form_for :team, url: create_new_team_path  do |f| %>
      <% if @team.errors.any? %>
         <div id="error_explanation">
           <h2>
             <%= pluralize(@team.errors.count, "error") %> prohibited this record from being saved:
           </h2>
           <ul>
              <% @team.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
           </ul>
          </div>
        <% end %>
        <p>
          <%= f.label :team_name %><br>
          <%= f.text_field :team_name %>
        </p>
        <p>
         <%= f.submit %>
        </p>
      <% end %>
   </div>
</div>