<div class="menu">
  <h1>Employees details home page</h1>
  <ul>
    <li><%= link_to 'Create new Employee', new_user_path %></li>
    <li> <%= link_to 'Employees Listing', users_path %></li>
    <li><%= link_to 'Developers', developers_path %></li>
    <%= link_to 'My Blog', articles_path %>
<%= link_to 'New article', new_article_path %>
    
  </ul>
</div>