<div class="menu">
  <%= form_for :engineer, url: update_engineer_path do |f| %>
  <% if @engineer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@engineer.errors.count, "error") %> prohibited
        this record from being saved:
      </h2>
      <ul>
        <% @engineer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :age %><br>
      <%= f.text_area :age %>
    </p>
    <p>
      <%= f.select :role, [['Developer','developer'],['QA','qa']] %>
    </p>
    <p>
      <%= f.submit %>
    </p>
    <% end %>
</div>
