
<%= form_for @player do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:
      </h2>
      <ul>
        <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :player_name %><br>
    <%= f.text_field :player_name %>
  </p>
  <p>
    <%= f.label :player_age %><br>
    <%= f.text_field :player_age %>
  </p>
  <p>
    <%= f.label :player_email %><br>
    <%= f.text_field :player_email %>
  </p>
  <p>
    <%= f.label :player_email_confirmation %><br>
    <%= f.text_field :player_email_confirmation %>
  </p>
  <p>
    <%= f.label :Team  %><br>
    <%= f.select :cricket_team_id , teamlist%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', players_path %>
