
<div class="page-header"><h2>Listing All Players</h2></div>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Team Name</th>
    <th colspan="3"> Actions</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.player_name %></td>
      <td><%= player.player_age %></td>
      <td><%= player.player_email %></td>
      <td><%= teamname(player.cricket_team_id) %></td>
      <td><%= link_to 'Show', player_path(player) %></td>
      <td><%= link_to 'Edit', edit_player_path(player) %></td>
      <td><%= link_to 'Delete', delete_player_path(player), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
