<p>
  <strong>ID:</strong>
  <%= @player.player_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @player.player_name %>
</p>
<p>
  <strong>Age:</strong>
  <%= @player.player_age %>
</p>
<p>
  <strong>Email:</strong>
  <%= @player.player_email %>
</p>
<%= link_to 'Edit', edit_player_path(@player) %>
<%= link_to 'Back', players_path %>